expense-tracker-backend/target/
expense-tracker-frontend/node_modules/
expense-tracker-frontend/dist/

.env
*.env
application-local.properties
application-secret.properties

.metadata/
.postman/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db